#user{
  display: inline;
}
img {
    display: inline-block;
}
#android_Picture{
  display: inline;
}
#userbutton{
  display: inline;
}
#passkey{
  display: inline;
}
#pass{
  display: inline;
}
table, td, th {
    border: 1px solid #263238;
    text-align: left;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
 tr:nth-child(even){
   background-color: #f2f2f2;
 }

 tr:hover {background-color: #ddd;}
table {
    border-collapse: collapse;
    width: 50%;
}
td{

}
th{
  padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 background-color: #4b7d2f;
 color: white;
}
body {
    background-color: #e0e0e0;
}

h1 {
   background-color: #f1f2f3;
    color: #263238;
    text-align: center;
}

p{
    font-family: verdana;
    font-size: 20px;

}
